<table>
    <tr>
        <td>
            <label class="control-label"><span translate="labels.password"></span>
                <em>&nbsp;*</em>
            </label>
        </td>
        <td>
            <input
                type="password"
                class="form-control input-sm"
                ng-model="formModel.password"
                ng-required="true"
            >
            <p
                class="valid-error"
                translate="validation.required"
                ng-if="dialogForm.password.$error.required && !dialogForm.password.$pristine"
            ></p>
        </td>
    </tr>
    <tr>
        <td>
            <label class="control-label"><span translate="labels.reEnter"></span>
                <em>&nbsp;*</em>
            </label>
        </td>
        <td>
            <input
                type="password"
                class="form-control input-sm"
                ng-model="formModel.confirmPassword"
                name="confirmPassword"
                ng-required="true"
                password-verify="formModel.password"
            >
            <p
                class="valid-error"
                translate="validation.notEqual"
                ng-if="dialogForm.confirmPassword.$error.passwordVerify"
            ></p>
        </td>
    </tr>
</table>
