<div class="ng-table-nav">
    <div class="page-size" style="float: left; line-height: 30px;">
        <span style="display: none">{{perPage = params.count()}}</span>
        <select
            class="form-control input-sm"
            style="float: left; width: 70px;"
            ng-options="val as val for val in params.settings().counts"
            ng-model="perPage"
            ng-change="params.parameters({page: 1, count: perPage})"
        >
        </select>
        <label style="float: left" translate="table.table-paging.perpage" style="font-size: 13px"></label>
    </div>
    <div class="total" style="float: left; line-height: 30px; margin: 0 0 0 15px">
        {{params.$params.page}} /
        <span ng-repeat="page in pages" ng-if="page.type == 'last' && pages.length">{{page.number}}</span>
        <span ng-if="!pages.length">1</span>
    </div>
    <div class="paging" style="float: left; margin: 3px 0 0 5px">
        <ul class="pager">
            <li
                ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-switch="page.type"
            >
                <button
                    ng-switch-when="prev"
                    type="button"
                    ng-click="params.page(page.number)"
                    class="btn btn-default btn-xs"
                    ng-disabled="!page.active"
                >
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
                <button
                    ng-switch-when="next"
                    type="button"
                    ng-click="params.page(page.number)"
                    class="btn btn-default btn-xs"
                    ng-disabled="!page.active"
                >
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </li>
        </ul>
    </div>  
</div>