.skg-dialog .skg-dialog-title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  background: #199ddb;
  z-index: 1;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.skg-dialog .confirmation-text {
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #333;
}

.skg-dialog .loading {
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  bottom: 0;
  z-index: 201;
  background: url(../img/spinner.gif) #ffffff center center no-repeat;
}
.skg-dialog .loading.in-progress {
  opacity: 0.5;
}
.skg-dialog .dialog-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 15px;
  background: #fff;
  z-index: 10;
  border-top: 1px solid #e3e3e3;
  -webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.skg-dialog .dialog-nav button,
.skg-dialog .dialog-nav .btn-group {
  margin-left: 10px;
  position: relative;
  z-index: 2;
}
.skg-dialog .dialog-nav button.pull-left {
  margin: 0 10px 0 0;
}
.skg-dialog .dialog-form form {
  float: left;
}
.skg-dialog .dialog-form table {
  width: 100%;
  border-collapse: collapse;
}
.skg-dialog .dialog-form table.text-table td {
  height: auto;
}
.skg-dialog .dialog-form table td {
  padding-bottom: 20px;
  vertical-align: middle;
  height: 40px;
  position: relative;
}
.skg-dialog .dialog-form table td.info-td {
  position: static;
  width: 20px;
}
.skg-dialog .dialog-form table td .form-control {
  display: inline-block;
}
.skg-dialog .dialog-form table td textarea {
  height: 60px;
  resize: vertical;
}
.skg-dialog .dialog-form table td:first-child {
  width: 150px;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
}
.skg-dialog .dialog-form table td.visiblefield {
  padding-left: 20px;
  position: relative;
}
.skg-dialog .dialog-form .control-label {
  color: #232323;
  font-size: 13px;
  padding: 0;
}
.skg-dialog .dialog-form .control-label em {
  color: red;
}
.skg-dialog .dialog-form .tt-icon {
  font-size: 14px;
  margin: 0 0 0 5px;
  cursor: pointer;
  color: #555555;
  white-space: normal;
}
.skg-dialog .dialog-form .remove-icon {
  font-size: 14px;
  color: #555555;
  position: absolute;
  left: 0;
  top: 10px;
  cursor: pointer;
  color: #428bca;
}
.skg-dialog .dialog-form span.input-group-addon {
  background: none;
  border: none;
  padding: 6px 4px;
}
.skg-dialog .dialog-form .tt-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.skg-dialog .dialog-form .tooltip {
  white-space: normal;
}
.skg-dialog .dialog-form .valid-error {
  font-size: 11px;
  color: red;
  line-height: 12px;
  position: absolute;
  left: 0;
  bottom: 7px;
}
.skg-dialog .errors {
  margin-bottom: 20px;
  font-size: 13px;
  color: red;
  line-height: 12px;
  padding-left: 150px;
}

.skg-dialog .dialog-table {
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  min-height: 318px;
  margin-bottom: 15px;
}
.skg-dialog .dialog-table table {
  margin-bottom: 0;
  width: 100%;
}
.skg-dialog .dialog-table table.fixed {
  table-layout: fixed
}
.skg-dialog .dialog-table table.fixed {
  table-layout: fixed;
  width: 100%;
}
.skg-dialog .dialog-table table.fixed.action-1 tr th:last-child {
  width: 40px;
}
.skg-dialog .dialog-table table.fixed td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.skg-dialog .dialog-table table tr th {
  background: #eeeeee;
  border-bottom: 1px solid #f1f1f1;
}
.skg-dialog .dialog-table table tr td .form-control {
  margin: 5px 0;
}
.skg-dialog .dialog-table table tr td .name {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.skg-dialog .dialog-table table tr td.action-td {
  width: 1px;
  white-space: nowrap;;
}
.skg-dialog .dialog-table table tr td .role-color {
  display: block;
  width: 20px;
  height: 20px;
}
.skg-dialog .dialog-table table tr th.sortable.sort-desc,
.skg-dialog .dialog-table table tr th.sortable.sort-asc {
  background: #eee;
}
.skg-dialog .dialog-table table tbody {
  border: none;
}
.skg-dialog .dialog-table > tbody > tr:nth-child(odd) > td {
  background-color: #f6f6f6;
}
.skg-dialog .dialog-table tbody > tr td.act-1 {
  width: 40px;
}
.skg-dialog .dialog-table tbody > tr td.act-2 {
  width: 67px;
}
.skg-dialog .dialog-table tbody > tr td.act-3 {
  width: 94px;
}
.skg-dialog .dialog-table tbody > tr td.act-4 {
  width: 121px;
}
.skg-dialog .dialog-table tbody > tr td.act-6 {
  width: 175px;
}
.skg-dialog .dialog-table table tr:hover .btn-hide {
  display: inline-block;
}
.skg-dialog .dialog-table table th.sortable div:before,
.skg-dialog .dialog-table table th.sortable div:after {
  display: none;
}
.skg-dialog .dialog-table table th.sortable:hover div:before,
.skg-dialog .dialog-table table th.sortable:hover div:after {
  display: block;
}
.skg-dialog .dialog-table table th.sortable.sort-desc div:before,
.skg-dialog .dialog-table table th.sortable.sort-desc div:after,
.skg-dialog .dialog-table table th.sortable.sort-asc div:before,
.skg-dialog .dialog-table table th.sortable.sort-asc div:after {
  display: block;
}
.skg-dialog .resource-select {
  position: absolute;
  left: 15px;
  top: 26px;
  width: 145px;
}
.skg-dialog .dialog-table .table-hover > tbody > tr:hover > td {
  background: #d6effb;
}
.skg-dialog .dialog-table .table-hover > tbody > tr:hover > td .action-btn {
  background: #72c4ea;
  color: #fff;
  border: 1px solid #72c4ea;
}
.skg-dialog .dialog-list-filter {
  margin-bottom: 10px;
}
.skg-dialog .ng-table-nav {
  position: absolute;
  right: 0;
  top: -38px;
}
.skg-dialog .dialog-table.scrollable {
  min-height: 1px;
  overflow-y: scroll;
}
.skg-dialog .dialog-info {
  border-bottom: 1px solid #dadada;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.skg-dialog .dialog-info table {
  border-collapse: collapse;
  color: #333;
}
.skg-dialog .dialog-info table td {
  vertical-align: top;
  padding-right: 20px;
}
.skg-dialog .dialog-info table td h3 {
  font-size: 18px;
}
.skg-dialog .dialog-info table td h4 {
  font-size: 18px;
}
.skg-dialog .dialog-info table td p {
  font-size: 11px;
}
.skg-dialog .blue-btn {
  background: #fff;
  min-width: 70px;
  font-size: 13px;
  color: #199ddb;
  border: 1px solid #199ddb;
}
.skg-dialog .blue-btn:hover,
.skg-dialog .blue-btn-caret:hover {
  border: 1px solid #199ddb;
  background: #199ddb;
  color: #fff;
  text-shadow: none;
}
.skg-dialog .blue-btn[disabled=disabled],
.skg-dialog .blue-btn-caret[disabled=disabled] {
  border: 1px solid #199ddb;
  background: #eee;
}
.skg-dialog .grey-btn {
  background: #fff;
  color: #717171;
  border: 1px solid #dadada;
  min-width: 70px;
  font-size: 13px;
}
.skg-dialog .blue-btn-caret {
  background: #fff;
  font-size: 13px;
  color: #199ddb;
  border: 1px solid #199ddb;
}
.skg-dialog .btn-group .blue-btn {
  min-width: 1px;
}
.skg-dialog .dialog-text {
  font-size: 13px;
  margin-bottom: 10px;
  overflow: hidden;
}
.skg-dialog .dialog-text .text {
  font-weight: bold;
}
.skg-dialog .dialog-text .text em {
  font-weight: normal;
  color: #666;
}
.skg-dialog .dialog-accordion .panel-group {
  margin-bottom: 10px;
}
.skg-dialog .dialog-accordion .panel {
  border: 1px solid #92d0ee;
}
.skg-dialog .dialog-accordion .panel-heading {
  background: #199ddb;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
}
.skg-dialog .dialog-accordion .panel-heading .panel-title {
  font-size: 13px;
}
.skg-dialog .dialog-accordion .panel-group .panel + .panel {
  margin-top: 10px;
}
.skg-dialog .dialog-accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid #92d0ee;
}
.skg-dialog .dialog-accordion .panel-body table td {
  padding-bottom: 5px;
  height: 1px;
}
.skg-dialog .dialog-accordion .panel-body table td .checkbox {
  padding: 0;
  min-height: 21px;
}
.skg-dialog .dialog-nav-pagination {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  left: 0;
  top: 0;
}
.skg-dialog .dialog-nav-pagination button {
  margin: 0 2px;
  vertical-align: middle;
}
.skg-dialog .dialog-nav-pagination span {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 100%;
  line-height: 50px;
}
.skg-dialog .dialog-nav-pagination .grey-btn {
  min-width: 1px;
}

.skg-dialog .underline table {
    border-collapse: collapse;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 15px;
}

.skg-dialog .underline tr {
    border: solid;
    border-width: 1px 0;
    border-color: #e3e3e3;
}

.skg-dialog .underline tr:first-child {
    border-top: none;
}
.skg-dialog .underline tr:last-child {
    border-bottom: none;
}
