.login {
	position: fixed;
	width: 300px;
	left: 50%;
	top: 50%;
	margin: -125px 0 0 -150px;
}
.login-error {
	display: none;
	position: absolute;
	width: 100%;
	margin-top: -65px;
}
.login .logo {
	display: block;
	height: 27px;
	padding-left: 35px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	width: 185px;
	line-height: 14px;
	margin: 0 auto 15px auto;
	position: relative;
}
.login .logo i {
	position: absolute;
	font-size: 35px;
	top: -4px;
	left: -4px;
}
.login .panel-body {
	background: #199ddb;
}
.login .form-group {
	margin-bottom: 5px;
}
.login .control-label {
	font-size: 14px;
	color: #fff;
}

.login-form {
	width: 50%;
}