<div class="work-list" ng-if="securityWriter">
    <table>
        <tr>
            <td></td>
            <td style="border: none; padding-right: 15px">
                <button
                    class="btn btn-default white-btn btn-sm pull-right"
                    btn-title="btnTitles.createUser"
                    ng-click="openDialog($event, 'securityUser')"
                >
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="table-with-list">

    <div style="float:left; width: 100%">

        <div class="data-list-filter" table-search="tableParams" table-search-value="filter.searchQuery"></div>

        <div class="data-list-table">
            <table
                ng-table="tableParams"
                class="table table-striped table-hover ng-table-responsive"
                template-pagination="js/templates/table/table-nav.html"
                col-actions="4"
            >
                <tbody ng-repeat="item in $data">
                    <tr>
                        <td data-title="tableHeaders.user" sortable="'login'">
                            {{item.login}}
                        </td>
                        <td data-title="tableHeaders.name" sortable="'name'">
                            {{item.name}}
                        </td>
                        <td data-title="tableHeaders.email" sortable="'email'">
                            {{item.email}}
                        </td>
                        <td data-title="" class="action-td">
                            <button
                                class="btn btn-hide btn-default btn-xs action-btn"
                                ng-click="openDialog($event, 'securityUser', {item:item})"
                                btn-title="btnTitles.edit"
                                ng-if="securityWriter"
                            >
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button
                                class="btn btn-hide btn-default btn-xs action-btn"
                                ng-click="openDialog($event, 'userRoles', {item:item})"
                                btn-title="btnTitles.manageUserRoles"
                                ng-if="securityWriter"
                            >
                                <i class="glyphicon glyphicon-user"></i>
                            </button>                            
                            <button
                                class="btn btn-hide btn-default btn-xs action-btn"
                                ng-click="openDialog($event, 'resetUserPassword', {item:item})"
                                btn-title="btnTitles.resetPassword"
                                ng-if="securityWriter"
                            >
                                <i class="glyphicon glyphicon-save"></i>
                            </button>
                            <button
                                class="btn btn-hide btn-default btn-xs action-btn"
                                ng-click="deleteUser(item)"
                                btn-title="btnTitles.delete"
                                ng-if="securityWriter"
                            >
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="$data && !$data.length">
                    <tr>
                        <td
                            translate="noData.noDataFound"
                            colspan="4"
                            style="text-align: center"
                        ></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>